/.idea/
*/__pycache__/
/__pycache__/
*.pyc
/venv/
/tmp/
/fixtures/*
notes.txt
avancement.txt
git status 060621.docx
db.sqlite3
db-inscription.sqlite3
Doc_technico_fonct.docx
Guide inscription MUDO club.docx