html {
    height: 100%;
}

body {
    background-color: #F4F7F6;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.taille_input_text {
    width : 3.5em;
    height : 30px;
}

.moyen_input_text {
    width : 5em;
    height : 35px;
}

.short_input_text {
    width : 7.5em;
    height : 35px;
}

.long_input_text {
    width : 10em;
    height : 35px;
}