{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}  Fin d'inscription  {% endblock %}

{% block content %}

        <!-- TITRE DE LA PAGE -->
        <div class="h2 text-center">
            Fin d'inscription
        </div>

    <div class="container">

        <div class="text-center mb-2">
            Votre demande d'inscription au Mudo club Argenteuil pour la saison 2021-2022 est prise en compte :
        </div>

        <table class="table w-50 mx-auto">
          {% if list_nom|length > 1 %}
          <thead>
            <tr>
              <th scope="col"></th>
                {% for i in list_nom %}
                    <th scope="col">Membre {{ forloop.counter }}</th>
                {% endfor %}
            </tr>
          </thead>
          {% endif %}
          <tbody>
            <tr>
              <th scope="row">Nom Prénom</th>
                {% for i in list_nom %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
              <th scope="row">Discipline</th>
                {% for i in list_discipline %}
                    <td>{{ i }}</td>
                {% endfor %}
            </tr>
            <tr>
              <th scope="row">Cotisation</th>
                {% for i in list_cotisation %}
                    <td>{{ i }}€</td>
                {% endfor %}
            </tr>
          </tbody>
        </table>


            <div class=" text-center mb-3">
              La cotisation annuelle à régler est de <b>{{ cotis_adh }}€</b>.
                {% if list_nom|length > 1 %} Vous avez bénéficié d'une réduction famille. {% endif %}
                <br>Vous pouvez payer par chèque, virement, liquide {% if list_nom|length > 1 %}en 3 fois{% endif %}.
            </div>
            <div class=" text-center mb-2">
                Pour terminer l'inscription, merci d'apporter au club une enveloppe portant la mention <strong>{{ code_famille }}</strong> et contenant :
            </div>
            <div class=" text-center">
                <ol class="list-group list-group-numbered w-50 mx-auto">
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto text-start">
                      <div class="fw-bold">Le moyen de paiement de la cotisation</div>
                      chèques, liquide ou l'ordre de virement effectué
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto text-start">
                      <div class="fw-bold">Un certificat médical à la pratique du taekwondo</div>
                      {% if list_nom|length > 1 %} pour chaque membre de la famille {% endif %}
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto text-start">
                      <div class="fw-bold">Une photo d'identité {% if list_nom|length > 1 %} pour chaque membre de la famille {% endif %}</div>
                      avec le nom de l'adhérent au dos
                    </div>
                  </li>
                </ol>
            </div>


    </div>


{% endblock %}