{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}  Simulation cotisation  {% endblock %}

{% block content %}

  <form class="text-center mx-auto" action="{% url 'inscription' %}" method="post" style="width:800px">
    {% csrf_token %}
    {{ formAdh.as_p }}
    {{ formGrade.as_p }}
    {{ formCategorie.as_p }}
    {{ formDiscipline.as_p }}
    {{ formContact.as_p }}
    <button type="submit" class="btn btn-danger me-3">Enregistrer</button>
  </form>


{% endblock %}