{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}  Commandes {% endblock %}

{% block content %}

    <!-- TITRE DE LA PAGE -->
    <div class="h2 text-center">
        Commandes - saison {{ saison_actuelle }}
    </div>

    {% if message != '' %}
        <div class="alert alert-danger text-center">
            <strong>{{message}}</strong>
        </div>
    {% endif %}

  <form style="width: 100%; max-width: 330px; padding: 15px; margin: auto;" action="{% url 'commandes' %}" method="post">
      {% csrf_token %}

      {% render_field authentForm.email_auth class="form-control ms-1 mb-2" placeholder="Votre adresse email" type="email" %}
      {% render_field authentForm.code_famille class="form-control ms-1 mb-2" placeholder="Votre code famille (*)" type="text" %}

    <div class="text-center">
        <button style="width: 30%; margin: auto;" class="btn btn-success me-3" type="submit">Entrer</button>
    </div>

  </form>


  <h1 class="h6 mb-3 mt-3 fw-normal text-center"> (*) Le code famille est celui que vous avez reçu par mail lors de l'inscription. </h1>

{% endblock %}