{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}  Actions Staff  {% endblock %}

{% block content %}

    <!-- TITRE DE LA PAGE -->
    <div class="h2 text-center">
        Sommaire des actions Staff
    </div>

    <div class="container">

        <form style="width: 100%; max-width: 800px; padding: 15px; margin: auto;" action="{% url 'relances' %}" method="post">
        {% csrf_token %}

        <table class="table w-75 mx-auto">
          <thead>
            <tr>
              <th scope="col">Actions</th>
                <th scope="col">Infos</th>
                <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Mailing de relance des cotisations partiellement payées</th>
                <td><b>{{ nb_famille_avec_cotis_partiel }}</b> familles avec cotisation partiellement payée <br>au
                    {{ date_jour }}</td>
                <td><button type="submit" style="width: 100%; margin: auto;" class="btn btn-success me-3" name="lancerCotisPart" value="CotisPartielle">Lancer</button></td>
            </tr>
            <tr>
              <th scope="row">Mailing de relance des cotisations non payées</th>
                <td><b>{{ nb_famille_sans_cotis_payee }}</b> familles sans aucune cotisation payée <br>au {{ date_jour }}</td>
              <td><button type="submit" style="width: 100%; margin: auto;" class="btn btn-success me-3" name="lancerCotisNonPayee" value="CotisNonPayee">Lancer</button></td>
            </tr>
            <tr>
              <th scope="row">Mailing de relance des certificats non reçus</th>
                <td><b>{{ nb_certif_manquant }}</b> certificats manquants <br>au {{ date_jour }}</td>
<!--                <td><button type="submit" style="width: 100%; margin: auto;" class="btn btn-success me-3" name="lancerCertifMed" value="CertifMed">Lancer</button></td>-->
            </tr>
          </tbody>
        </table>

         </form>

    </div>

<script>
     let buttons = document.querySelectorAll('button');
     let lenButtons = buttons.length;

     for (i = 0; i < lenButtons; i++) {
        buttons[i].addEventListener('click', (e) => {
            if(! confirm("Cette action va lancer un mailing aux familles. Confirmez-vous l'envoi?")) {
                e.preventDefault();
            }
        });
     }
</script>

{% endblock %}